#map {
    height: 75vh;
    width: 75vw;
    margin: 0 auto;
}

.leaflet-popup-content {
    text-align: center;
    position: relative;
}

.leaflet-popup-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.leaflet-popup-content * {
    position: relative;
    z-index: 2;
}

.leaflet-popup-content .profile-photo {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    display: block;
}

.leaflet-popup-content h2 {
    margin-top: 10px;
    font-size: 18px;
    background-color: rgba(173, 216, 230, 1);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
}

.leaflet-popup-content .info {
    display: block;
    margin: 5px 0;
    background-color: rgba(173, 216, 230, 1);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    margin: 10px auto; 
}

.stack-icons {
    background-color: rgba(173, 216, 230, 1);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: fit-content;
    margin: 10px auto;
}

.stack-icon {
    display: inline-block;
}

.stack-icon img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
