#map {
  height: 950px;
  width: 950px;
  margin: 0 auto;
}
.leaflet-popup-content {
  text-align: center;
  position: relative;
}
.leaflet-popup-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.leaflet-popup-content * {
  position: relative;
  z-index: 2;
}
.leaflet-popup-content .profile-photo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  display: block;
}
.leaflet-popup-content h2 {
  margin-top: 10px;
  font-size: 18px;
  background-color: rgba(60, 150, 200, 1); /* Bleu doux */
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
}
.leaflet-popup-content .info {
  display: block;
  margin: 5px 0;
  background-color: rgba(60, 150, 200, 1); /* Bleu doux */
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  width: fit-content;
  margin: 10px auto;
}
.stack-icons {
  background-color: rgba(60, 150, 200, 1); /* Bleu doux */
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  width: fit-content;
  margin: 10px auto;
}
.stack-icon {
  display: inline-block;
}
.stack-icon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  background-color: #f0f0f0; /* Gris très clair */
}
.container {
  padding: 0;
  width: 100vw;
  height: auto;
  background-color: #333; /* Gris foncé */
}
.title {
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Assure que les éléments sont bien distribués */
  padding-bottom: 20px;
  padding-left: 20px; /* Ajoute un espace à gauche */
  padding-right: 20px; /* Ajoute un espace à droite */
  gap: 20px;
}
h1 {
  margin-bottom: 10px;
  color: #ffffff; /* Blanc */
  font-size: 4rem;
}
label {
  color: #ffffff; /* Blanc */
  font-size: 1.5rem;
  margin-right: 10px;
}
#searchInput {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px; 
  margin-right: 20px; 
}
.title label,
.title input {
  display: inline-block;
}
.title h1 {
  margin-left: auto;
}
.globalContent {
  margin-top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.containerLeft {
  position: relative;
  padding-top: 4%;
  width: 40%;
  height: 100vh;
  overflow-y: auto;
}
.containerLeft::-webkit-scrollbar {
  display: none;
}
.inserCard {
  overflow-y: auto;
  position: relative;
  border: solid 2px #333; /* Gris foncé */
  border-radius: 15px;
  background: #ffffff;
  box-shadow: inset -10px 10px 15px #aaa, inset 10px -10px 15px #fff;
}
.containerLeft h2 {
  font-size: xxx-large;
  color: #ffffff; /* Blanc */
  text-align: center;
}
.containerRight {
  border-top: 8px solid #333; /* Gris foncé */
  width: 50%;
  height: 100vh;
  background-color: #555; /* Gris intermédiaire */
}
.contact-card {
  background-color: #f9f9f9; /* Très clair */
  border: 1px solid #ddd; /* Gris clair */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 15px;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.contact-card:hover {
  transform: translateY(-5px);
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.photoProfil {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
.nameVille h3 {
  color: #333; /* Gris foncé */
  margin: 0;
  font-size: 2.2em;
}
.nameVille p {
  margin: 5px 0;
}
.nameVille a {
  text-decoration: none;
  color: #007bff; /* Bleu vif */
}
.nameVille a:hover {
  text-decoration: none;
}
.stack {
  font-size: 14px;
  color: #555;
  margin: 10px 0;
}
.contact-card a {
  text-decoration: none;
  color: #007bff; /* Bleu vif */
}
.contact-card a:hover {
  text-decoration: none;
}
.contact-card p {
  font-weight: 900;
  font-size: 1rem;
  color: #d75151; /* Rouge doux */
  margin-top: 10px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.backgroundPopup {
  border-radius: 50%;
}
.rounded-icon {
  border-radius: 50%;
  overflow: hidden;
}